@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll infinite;
  animation-duration: 30s;
  /* Adjust as necessary */
}